<form #newScooter="ngForm" class="newScooter">
  <h5>Pridėk naują paspirtuką:</h5>
  <p *ngIf="newScooter.invalid && newScooter.submitted" class="alert alert-danger">
    The form is not valid. Please check all fields!
  </p>
  <div>Registracijos numeris: <input type="text" ngModel name="name" required minlength="8" maxlength="8"/></div>
  <div>
    Paskutinis naudojimas:
    <input
      type="date"
      max={{today}}
      ngModel
      name="last_use"
      required
    />
  </div>
  <div>
    Viso km:
    <input
      type="number"
      min="0"
      max="9999"
      ngModel
      name="total_ride"
      required
    />
  </div>
  <button type="submit" (click)="addScooter()">Pridėti</button>
</form>

<div class="statistika">
  <h5>Statistika:</h5>
  <p>Iš viso paspirtukų: {{total_records}}</p>
  <p>Iš viso kilometrų: {{total_kilometers}}</p>
</div>


<div class="filter">
  <div>
    <label>Find scooter by name:</label>
    <input type="text" (input)="onFilter($event)" class="filter-input"/>
  </div>
  <button (click)="onSort('total_ride')" class="btn btn-primary">Rūšiuoti pagal KM</button>
  <button (click)="onSort('last_use')" class="btn btn-secondary">Rūšiuoti pagal DATĄ</button>
</div>
<table class="table table-success">
  <thead>
    <tr>
      <th style="width: 10px">Nr.</th>
      <th>Vardas</th>
      <th style="width: 30px">Užimtumas</th>
      <th >Data</th>
      <th>Nauja Data</th>
      <th>Km</th>
      <th>Plius Km</th>
      <th>Veiksmai</th>
    </tr>
  </thead>
</table>
<ol>
  <li *ngFor="let s of filteredScooters">
    <app-scooter [scooterFromParent]="s" (onDelFromChild)="onDelete($event)"></app-scooter>
  </li>
</ol>
