.newScooter, .statistika, .filter {
  padding: 50px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
form > h5, form > p {
  display: inline-block;
  width: 100%;
}
.ng-invalid:not(form).ng-touched {
  border: 1px solid salmon;
}

/* .filter {
  margin: 20px 7px;
  display: flex;
  justify-content: center;
  gap: 20px;
} */
.filter  input {
  margin-left: 10px;
}

.btn.action {
  padding: 2px 7px;
  margin-right: 15px;
  font-weight: 600;
}
